<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1> Welcome to the market </h1>
<h2> Please select the items you want to add</h2>
These are discounts avaiable
<li>Buy-One-Get-One-Free Special on Coffee. (Unlimited)</li>
<li>If you buy 3 or more bags of Apples, the price drops to $4.50.</li>
<li>Purchase a box of Chai and get milk free. (Limit 1)</li>
<li>Purchase a bag of Oatmeal and get 50% off a bag of Apples</li>

<br>
<br>

<form method='POST' action="bill/" name= 'myform'>
            {% csrf_token %}
               
                        <table>
                            <tr>
                                <th>Items-Name</th>&nbsp
                                <th><center>Quantity</center></th>&nbsp
                                <th><center>Price</center></th>
                            </tr>
                            {{ product.count }}
                            {% for p in products %}
                                <tr>
                                <td>{{ p.product_name }}</td>&nbsp
                                <td><input type="number" min="0" name="q_id_{{ p.product_id }}"></td>&nbsp
                                <td><center>{{ p.product_price }}</center></td>
                                </tr>
                            {% endfor %}                            
                        </table>
            <br><button type="submit" class="btn btn-primary">Submit</button>
</form>